body{
	margin: 0;
	padding: 0;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #333;
}

header, footer{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 0 0.5em;
	font-size: 24px;
	line-height: 2em;
	height: 2em;
}
header .title{
	font-weight: bold;
	float: left;
}
header .color {
	float: right;
}
header .color .collorBtn {
	padding: 10px;
	width: 10px;
	cursor: pointer;
}


footer{
	top: auto;
	bottom: 0;
}
footer .input {
	float: left;
}
footer .links {
	float: right;
	font-size: 12px;
}
footer .links a {
	color: white;
}

input {
	height: 1.5em;
	font-size: 14px;
}
input.btn {
	height: 2em;
	min-width: 75px;
	width: 10% !important;
}

.login {
	width: 100%;
	height: 100%;
	background-color: #686565;
	opacity: 0.5;
	position: fixed;
	top: 0;
}
.loginInput {
	width: 38%;
	height: 30%;
	margin-left: 30%;
	margin-top: 9%;
	text-align: center;
	padding-top: 7%;
}
.loginInput input {
	margin: 10px 0;
}

.contentBox {
    margin: 48px 0;
	float: left;
	width: 82%;
}
.userlistBox {
	border-left: 1px solid lightgrey;
	margin: 48px 0;
	float: right;
	width: 10%
}
#content,
#userlist {
	list-style: none;
}
#userlist {
	cursor: pointer;
}

.modal {
	background-color: #d3d3d3;
	border: 1px solid #ff0000;
	border-radius: 20px;
	height: 300px;
	left: 10%;
	position: absolute;
	top: 20%;
	width: 800px;
}
.modal .close {
	position: absolute;
	right: 7px;
	top: 5px;
	cursor: pointer;
}
.modal h2 {
	padding-left: 20px;
}
.modal .contentWhisper {
	list-style: none;
	max-height: 65%;
	overflow: auto;
	background: white;
}
.modal .inputbar {
	position: absolute;
	bottom: 1px;
	left: 20px;
	width: 100%;
}
.modal .inputbar input {
	float: left;
	width: 85%;
}